[Desktop Entry]
Type=Application
Exec=bash -i -c /home/wendao/projects/logistics_ws/src/av_op/app/app/av_console
Name=av_console
GenericName=AV_CONSOLE
Icon=/home/wendao/projects/logistics_ws/src/av_op/app/icon/icon.jpg
Terminal=false
Categories=Development
